.section2{width: 1170px;padding: 0px 15px;}
.subtitle{font-size: 24px;
width: 369px;height: 100px;}
.article{ font-size: 18px;width: 370px;height: 105px;margin-top: -80px;}
img{width: 92px;
height: 92px;}

